<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Amount Display</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="myCtrl">

    <h2>Enter Amount</h2>

    <input type="number" ng-model="amount" placeholder="Enter amount">
    <br><br>

    <button ng-click="submitAmount()">Submit</button>

    <!-- Display amount only after submit -->
    <div ng-if="submitted">
        <p><b>Entered Amount:</b> {{ amount }}</p>
        <p><b>Amount with Currency:</b> ₹ {{ amount }}</p>
       
    </div>

<script>
var app = angular.module("myApp", []);

app.controller("myCtrl", function($scope) {

    $scope.submitted = false;

    $scope.submitAmount = function() {
        $scope.submitted = true;
    };

});
</script>

</body>
</html>