<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Case Converter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="myCtrl">

    <h2>Case Converter</h2>

    <input type="text" ng-model="text" placeholder="Enter text here">
    <br><br>

    <button ng-click="submitText()">Submit</button>

    <!-- Display result only after submit -->
    <div ng-if="submitted">
        <p><b>UPPERCASE:</b> {{ text | uppercase }}</p>
        <p><b>lowercase:</b> {{ text | lowercase }}</p>
        <p><b>Sentence case:</b> {{ sentenceCase(text) }}</p>
        <p><b>Title Case:</b> {{ titleCase(text) }}</p>
    </div>

<script>
var app = angular.module("myApp", []);

app.controller("myCtrl", function($scope) {

    $scope.submitted = false;

    $scope.submitText = function() {
        $scope.submitted = true;
    };

    $scope.sentenceCase = function(str) {
        if (!str) return "";
        return str.charAt(0).toUpperCase() + str.slice(1).toLowerCase();
    };

    $scope.titleCase = function(str) {
        if (!str) return "";
        return str
            .toLowerCase()
            .split(' ')
            .map(function(word) {
                return word.charAt(0).toUpperCase() + word.slice(1);
            })
            .join(' ');
    };
});
</script>

</body>
</html>
